# Core Django
Django==5.2.6
asgiref==3.9.2
sqlparse==0.5.3
tzdata==2025.2

# Type checking & stubs
django-stubs==5.2.5
django-stubs-ext==5.2.5
mypy==1.18.2
mypy_extensions==1.1.0
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0

# Optional for gitignore / path filtering
pathspec==0.12.1
